.git
.gitignore

backend/.env
backend/vendor
backend/node_modules
backend/bootstrap/cache/*.php
backend/storage/logs/*.log
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*

infra/docker/dev
infra/docker/prod

!infra/docker/dev/php/Dockerfile
!infra/docker/dev/php/conf.d/local.ini
!infra/docker/dev/php/conf.d/xdebug.ini
!infra/docker/prod/php/Dockerfile
!infra/docker/prod/php/conf.d/local.ini
!infra/docker/prod/nginx/Dockerfile
!infra/docker/prod/nginx/default.conf

**/.DS_Store