.git
.gitignore

backend/.env
backend/vendor
backend/node_modules
backend/bootstrap/cache/*.php
backend/storage/logs/*.log
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*

infra/docker/dev
infra/docker/prod

**/.DS_Store